@import url("https://rsms.me/inter/inter.css");

:root {
  --text-primary: hsl(235, 30%, 10%);
  --text-secondary: hsl(235, 10%, 40%);
  --text-chip: hsl(235, 40%, 30%);
  --background: hsl(235, 46%, 90%);
  --underline: hsl(235, 30%, 80%);
}
* {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--text-secondary);
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--background);
  min-height: 80vh;
  display: grid;
  grid-template-columns: minmax(16px, 1fr) minmax(0, 612px) minmax(16px, 1fr);
}

::selection {
  background-color: var(--background);
  color: var(--text-primary);
}

main {
  grid-column: 2;
  align-self: center;
  padding: 24px;
  background-color: white;
  border-radius: 4px;
  margin: 16px 0;
  box-shadow: 2px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    4px 6.7px 5.3px rgba(0, 0, 0, 0.028), 8px 12.5px 10px rgba(0, 0, 0, 0.035),
    15px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    25px 41.8px 33.4px rgba(0, 0, 0, 0.05), 30px 100px 80px rgba(0, 0, 0, 0.07);
}

footer {
  grid-column: 2;
  align-self: center;
  padding: 24px;
  background-color: white;
  border-radius: 4px;
  margin: 16px 0;
  box-shadow: 2px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    4px 6.7px 5.3px rgba(0, 0, 0, 0.028), 8px 12.5px 10px rgba(0, 0, 0, 0.035),
    15px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    25px 41.8px 33.4px rgba(0, 0, 0, 0.05), 30px 100px 80px rgba(0, 0, 0, 0.07);
}
.credit {
  font-weight: 600;
  color: black;
}
.disclosure {
  font-size: 6px;
}

.book {
  font-weight: 600;
}
.buy {
  margin: auto 2px;
  text-decoration: none;
  font-weight: 500;
  background-color: rgba(11, 148, 79, 0.226);
  color: rgba(11, 148, 79, 0.884);
  padding: 2px;
  max-width: max-content;
  border-radius: 2px;
  margin-left: 4px;
  display: inline-block;
  font-size: 12px;
}
.pdf {
  margin: auto 2px;
  text-decoration: none;
  font-weight: 500;
  background-color: rgba(43, 166, 223, 0.267);
  color: rgba(16, 99, 138, 0.945);
  padding: 2px;
  max-width: max-content;
  border-radius: 2px;
  margin-left: 2px;
  display: inline-block;
  font-size: 12px;
}

.logo {
  font-weight: 600;
  margin-bottom: 4px;
  letter-spacing: -0.5px;
  font-size: 16px;
}

h1 {
  font-size: 28px;
  margin-bottom: 32px;
  color: var(--text-primary);
  font-weight: 600;
  line-height: 1.3;
}

.chips {
  font-weight: 600;
  background-color: var(--background);
  color: var(--text-chip);
  padding: 4px 8px;
  max-width: max-content;
  border-radius: 2px;
  margin-right: 8px;
  margin-bottom: 8px;
  display: inline-block;
  font-size: 18px;
}

.subject {
  margin-bottom: 2em;
}

li {
  list-style: none;
  margin-bottom: 5px;
}

p {
  line-height: 1.5;
  margin-bottom: 12px;
  font-size: 18px;
}

a {
  font: inherit;
  text-decoration-color: var(--underline);
}

code {
  color: inherit;
  font-family: "SFMono-Regular", Menlo, monospace;
  font-weight: 600;
  font-size: inherit;
}
